.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 1px solid #333;
    border-radius: 8px;
    background-color: #2a2a2a;
    width: calc(100% - 48px);
    margin: 0 24px 24px 24px;

    a {
        margin: 0;
        font-size: 14px;
        color: #888;
        text-decoration: none;

        &:hover {
            color: #fff;
            text-decoration: underline;
        }
    }
}
